* {
  /*font-size: 10px;*/
  
}

body{
  font-size: 14px;
}

header, main, footer {
  margin : 20px;
  padding: 10px;
  border: solid 5px #cccccc;
}

h1 {
  /*font-size: 5em;*/
  color: green;
  background-color: lightpink;
  border: solid 2px red;
  text-align: center;
  /*width: 90vw;*/
  padding: 20px;
  margin: 40px;
}

.contact {
  display: inline-blcok;
  width: 50%;
  height: 50%;
  border: solid 1px black;
  magine: 10px;
  padding: 10px;
}
